@mixin dialog-common {
  .el-dialog__wrapper {
    &::v-deep .el-dialog {
      top: 50%;
      margin: 0 auto !important;
      transform: translateY(-50%);
    }

    &.has-no-footer {
      &::v-deep .el-dialog__body {
        max-height: px2vh(864);
      }
    }
    &::v-deep .el-dialog__body {
      box-sizing: border-box;
      overflow-y: auto;
      max-height: px2vh(744);

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(177, 191, 174, 0.2);
      }
    }

    &::v-deep .el-dialog__footer {
      .el-button {
        min-width: 120px;
        padding: 12px 25px;
        margin-left: 24px;

        &.el-button--text {
          min-width: auto;
          padding: 12px 0;
          color: #b1bfae;
          font-weight: normal;
        }

        &.el-button--default {
          color: #abc270;
        }
      }
    }

    /* input */
    &::v-deep .el-input {
      .el-input__inner {
        color: #5b7869;
        border-color: #e1ead0;
        border-radius: 10px;
      }
      &::placeholder {
        color: #ddd;
      }
    }

    /* form item */
    &::v-deep .el-form-item {
      margin-bottom: 20px;

      &.is-error .el-input__inner,
      &.is-error .el-input__inner:focus,
      &.is-error .el-textarea__inner,
      &.is-error .el-textarea__inner:focus {
        border-color: #f56c6c;
      }

      .el-form-item__label {
        color: #b1bfae;
      }
    }
    &::v-deep .el-textarea__inner {
      color: #5b7869;
    }
  }
}
