/* 改变主题色变量 */
$--color-primary: #abc270;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

$--color-text-placeholder: #e1e1e1;

$--datepicker-inrange-background-color: rgba(171, 194, 112, 0.1);
